.deshBodyHead {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dbh_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.deshBodyHead button {
  padding: 8px 25px;
  color: #1e5eff;
  background-color: transparent;
  border: 1px solid #d7dbec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
